<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Burgers! | Andy Hardy</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/assets/js/js.js"></script>
</head>

<body>
    <!-- sick burger video -->
    <video autoplay muted loop id="burger-video">
        <source src="https://media.giphy.com/media/qXIEjuFSbNY5O/giphy.mp4" type="video/mp4">
    </video>
    {{{ body }}}
</body>

</html>